<template>
    <Page actionBarHidden="true">
      <Drawer ref="left-side-drawer">
        <GridLayout ~leftDrawer rows="*" columns="*, 35">
          <StackLayout row="0" col="0" backgroundColor="white" width="100%">
            <Button @tap="sampleFunction" text="Sample"/>
          </StackLayout>
          <StackLayout row="0" col="1"
                       backgroundColor="transparent"
                       @tap="closeDrawer"
          >

          </StackLayout>
        </GridLayout>
        <StackLayout ~mainContent>
            <Button text="openDrawer" @tap="openDrawer"/>
          <Button text="navigateTop" @tap="navigateTop"/>
        </StackLayout>
      </Drawer>
    </Page>
</template>

<script>
import {screen} from "@nativescript/core/platform";
import TopNavigatedPage from "~/components/TopNavigatedPage";
  export default {
    methods: {
      sampleFunction() {
        alert('test')
      },
      navigateTop() {
        let options = {
          transition: {name: 'slideTop', duration: 300},

        }
        this.$navigateTo(TopNavigatedPage, options)
      },
      openDrawer() {
        this.$refs["left-side-drawer"].nativeView.animateToPosition('left', screen.mainScreen.widthDIPs, 300)
      },
      closeDrawer() {
        this.$refs["left-side-drawer"].nativeView.animateToPosition('left', 0, 200)
      }
    }
  };
</script>

<style scoped lang="scss">

</style>
