<template>
  <Page>
    <StackLayout>
      <Button @tap="navigateBack"/>
    </StackLayout>
  </Page>
</template>

<script>
export default {
  name: "TopNavigatedPage",
  methods: {
    navigateBack() {
      this.$navigateBack()
    }
  }
}
</script>

<style scoped>

</style>
